.accordion{
	.card-header{
        @extend .padding-0;
        .btn{
            @extend .align-left;
            @extend .font-16;
            padding: 10px 20px;
            width: 100%;
        }
	}
}

.accordion2 {
	@extend .margin-0;
	@extend .padding-0;
	list-style: none;
    border-top: 1px solid $grey-300;
    
    .accordion-item {
        border-bottom: 1px solid $grey-300;
        padding: 0 15px;        
    }

    /* Thumb */
    .accordion-thumb {        
        @extend .margin-0;
        @extend .font-16;
        font-weight: $font-weight-400;
        padding: .8rem 0;
        cursor: pointer;        
        
        // Chevron
        &::before {
            @include transition(all .3s ease-in-out);
            @extend .inlineblock;            
            content: "\f138";
            font-family: 'FontAwesome';            
        }
        span{
            @extend .m-l-10;
        }
    }

    /* Panel */
    .accordion-panel {
        @extend .margin-0;
        padding-bottom: .8rem;
        display: none;
    }

    /* Active */
    .accordion-item.is-active {
        .accordion-thumb::before {
            content: "\f13a";            
        }
    }
}
